<h1>Hi</h1>
<% board_list = Board.all %>
<article>
  <header>
    All boards
  </header>
  <ul>
    <% board_list.each do |a_board| %>
      <li>
        <a href="/boards/<%= a_board.id %>">
          <%= a_board.name %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<article>
  <header>Add a New Board</header>
  <form action="/insert_board" method="post">
    <label for="name_field">Name</label>
    <input id="name_field" type="text" name="name_param" placeholder="Name of Board">
    <button>Create board</button>
  </form>
</article>
